/**
*{
	outline: dotted 1px red;
}
**/
body{
	font-family:'PT Sans', sans-serif;
	font-size: 14px;
	color: #171717;
	margin: 0;
	overflow-x: hidden;
}

header{
	background-color: #171717;
	overflow: hidden;
	padding: 20px;
}

header h1{
	color: #D9D9D9;
	font-weight: bold;
	font-size: 18px;
	float: left;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	padding-left: 75px;
	padding-bottom: 10px;
	padding-top: 10px;
}

a{
	text-decoration: none;
	color: #D9D9D9;
}
nav{
	float: right;
	padding-top: 10px;
}
nav ul{
	list-style: none;
}

nav ul li{
	display: inline-block;
}

nav ul li a{
	display: block;
	padding: 5px;
}

nav ul li a:hover{
	background-color: #D9D9D9;
	color: #171717;
}

img{
	display: block;
	width: 100%
}

/**
#noticias-destacadas{
	width: calc(100vw * 3);
	background-color: #171717;
	overflow: hidden;
	position: relative;
	animation: 15s slider infinite;
}

#noticias-destacadas figure{
	width: 100vw;
	float: left;
}

#noticias-destacadas figcaption{
background-color: #171717;
padding: 20px;
}
**/

#noticias-destacadas h2{
	color: #D9D9D9;
	font-size: 30px;
	font-weight: 700;
}

.noticia{
	border-bottom: solid 1px #D9D9D9;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly; /*flex-start, center, flex-end, space-between, space-around, space-evenly*/
	align-items: center; /*flex-start, center, flex-end, stretch*/
	padding: 1rem;
	margin: 1rem;
}

.noticia:last-child{  /** first-child, nth-of-type(number)**/
	border:none;
}

.noticia-img{
	width: 100%;
}

.noticia-txt{
	width: 100%;

}

.noticia-txt h3{
	font-size: 16px;
	font-weight: bold;
	margin-top: 30px;
}

.noticia-txt p{
	font-size: 12px;
	padding-top: 10px;
}

#tabla table{
	margin: auto;
	width: 60%;
	margin-bottom: 10px;
}

#tabla td, 
#tabla th{
	padding: 5px;
	vertical-align: middle;
}

#tabla th{
	background-color: red;
	color: #FFF;
	font-weight: 600;
	font-size: 20px;
}

#tabla td{
	background-color: #f6f0f0;
}

#tabla td:nth-of-type(odd){ /**odd=impares, even=pares**/
	font-weight: 600;
	font-size: 18px;
	text-align: center;

}

#tabla td:nth-of-type(even) span{
	font-weight: 600;
	color: #2194f3;

}

#tabla tr{
	border-bottom: solid 1px #171717;
}

#tabla tr:last-child{
	border: none;
}

footer{
	background-color: #171717;
	color: #d9d9d9;
	text-align: center;
	padding: 15px;
}
























/*Animaciones CSS*/
/*Siempre deben quedar al final del doc*/
@keyframes slider{
	0%{ left: 0; }	
	20%{ left: 0; }
	40%{ left:-100vw; }
	60%{ left: -100vw; }
	80%{ left: -200vw; }
	100%{ left: -200vw; }
}